.orange-theme{
    .halfCircleBottom{
        background-color: #FF9933;
    }
    h1{
        color: #FF6C33;
    }
    .headerCollor .toolbar-background {
        background-color: #FF9933;
    }
    .toolbar-title{
        color: rgba(255, 255,255,0.7);
    }
}
