.yellow-theme{
    ion-content{
        .halfCircleBottom{
            background-color:  #FFDE33;
        }
        h1{
            color: #FFB033;
        }
    }
    .headerCollor .toolbar-background{
        background-color: #FFCB33;
    }
    .toolbar-title{
        color: rgba(255, 255,255,0.7);
    }
}
