.green-theme{
    .halfCircleBottom {
        background-color:  #00BFA2;
    }
    h1 {
        color: #0BBC80;
    }
    .headerCollor .toolbar-background {
        background-color: #00BFA2;
    }
    .toolbar-title{
        color: rgba(255, 255,255,0.7);
    }
}
