.red-theme{
    .halfCircleBottom{
        background-color: #D50E27;
    }
    h1{
        color: #D50E27;
    }
    .headerCollor .toolbar-background{
        background-color: #CC0033;
    }
    .toolbar-title{
        color: rgba(255, 255,255,0.7);
    }
}
