.purple-theme{
    .halfCircleBottom{
        background-color: #9B0745;
    }
    h1{
        color: #9B0745;
    }
    .headerCollor .toolbar-background {
        background-color: #B90E67;
    }
    .buttonDesign{
        background-color: rgb(139, 4, 74)
    }
    .toolbar-title{
        color: rgba(255, 255,255,0.7);
    }
}